include MANIFEST.in
include README.md
recursive-include bare68k/cython *.pyx *.pxd
recursive-include bare68k/musashi *.c *.h readme.txt
recursive-include bare68k/binding *.c *.h readme.txt
recursive-include gen *.c *.h
