include MANIFEST.in
include README.rst
include CHANGELOG.rst
recursive-include docs *.rst *.py
recursive-include bare68k *.pyx *.pxd *.c *.h
recursive-include bare68k/machine_src/musashi readme.txt history.txt
recursive-include samples *.bin *.s *.py
